<div class="info">
    <div class="layout horizontal center">
        <ui-label class="label flex-none">prefab的名称：</ui-label>
        <ui-input type="text" v-model="name" class="flex-1"></ui-input>
    </div>

    <div class="layout horizontal center">
        <ui-label class="label flex-none">prefab目录：</ui-label>
        <ui-input type="text" class="flex-1" v-model="prefabFolder" readonly></ui-input>
        <ui-button class="btn1 flex-none" @click="openPrefab">...</ui-button>
    </div>

    <div class="layout horizontal center">
        <ui-label class="label flex-none">图片导入目录：</ui-label>
        <ui-input type="text" class="flex-1" v-model="imgFolder" readonly></ui-input>
        <ui-button class="btn1 flex-none" @click="openTexture">...</ui-button>
    </div>

    <div class="layout horizontal center">
        <ui-label class="label flex-none">图片根目录：</ui-label>
        <ui-input type="text" class="flex-1" v-model="imgRootFolder" readonly></ui-input>
        <ui-button class="btn1 flex-none" @click="openTextureRoot">...</ui-button>
    </div>

    <div class="layout horizontal center">
        <ui-label class="label flex-none">选择psd导出文件夹：</ui-label>
        <ui-input type="text" class="flex-1" v-model="psdOutput" readonly></ui-input>
        <ui-button class="btn1 flex-none" @click="openPsd">...</ui-button>
    </div>
    <br />
    <ui-button class="btn" @click="ok">开始创建</ui-button>
    <br />
    <ui-label>{{state}}</ui-label>
    <br />
    <br />
    <br />
    <br />
    <span class="intr">
        使用说明：本功能需要先用<span class="link" @click="download">p2j.jsx（点击下载）</span>脚本文件从psd中导出png及json文件。photoshop如何使用脚本请自行百度。
    </span>
</div>